@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0cebeb; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.wrapper {
    width: 450px;
    border-radius: 8px;
    background-color: #fff;
    padding: 32px 24px 40px;
}

.wrapper :where(textarea, input, select, button) {
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
}

.wrapper textarea {
    padding: 6px 8px;
    height: 280px;
    resize: none;
    border: 1px solid #ccc;
    transition: border 300ms ease-in;
}

.wrapper .file-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.file-options .option {
    width: calc(100% / 2 - 8px);
}

.option :where(input, .select-menu) {
    height: 50px;
    padding: 0 16px;
    border: 1px solid #bfbfbf;
    margin-top: 8px;
    border-radius: 6px;
}

.option .select-menu select {
    height: 50px;
    background: none;
}

.wrapper .save-btn {
    color: #fff;
    margin-top: 20px;
    padding: 16px 0;
    background-color: #0cebeb;
    cursor: pointer;
    pointer-events: none;
    transition: opacity 250ms ease-in;
}

.wrapper .test-btn {
    color: #fff;
    margin-top: 20px;
    padding: 16px 0;
    background-color: #29ffc6;
    cursor: pointer;
    transition: opacity 500ms ease-in;
}

.wrapper textarea:valid ~ .save-btn {
    opacity: 1;
    pointer-events: auto;
}

.wrapper textarea:invalid ~ .save-btn {
    animation-name: shake;
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: .5;
}

.wrapper textarea:invalid {
    border: 2px solid #0cebeb;
}


@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-8px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(8px);
    }
}


.lds-hourglass {
    display: none;
    position: relative;
    bottom: 12px;
    left: calc(50% - 40px);
    width: 4px;
    height: 4px;
    padding: 32px 0;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 32px solid #29ffc6;
    border-color: #0cebeb transparent #0cebeb transparent;
    animation: lds-hourglass 1.2s infinite;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.test-results {
    list-style-type: square;
    padding: 16px;
    color: #20e3b2;
}

.test-results-false {
    text-decoration: line-through;
    color: #888888;
}

@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
